.abContainer{
    height: 16cm;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title{
    margin-top: -6cm;
    margin-left: 10cm;
    font-size: 40px;
    font-style: italic;
}
.desc{
    margin-left: 2cm;
    margin-right: 2cm;
    font-size: 20px;
    font-style: italic;
}